[submodule "Quade"]
	path = Quade
	url = https://github.com/a-slide/Quade.git
[submodule "Sekator"]
	path = Sekator
	url = https://github.com/a-slide/Sekator.git
[submodule "RefMasker"]
	path = RefMasker
	url = https://github.com/a-slide/RefMasker.git
[submodule "ContaVect"]
	path = ContaVect
	url = https://github.com/a-slide/ContaVect.git
